body {
    background: #F2F2F2;
    font-family: TT Lakes, sans-serif, Arial;
    font-size: 16px;
    line-height: 24px;
}

.brands-board {
    display: flex;
    flex-direction: column;
    max-width: 1120px;
    background: #F8F8F8;
    margin: 0 auto;
    padding-bottom: 32px;
}

.brands-board__header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 56px;
    background: linear-gradient(to right, #F8F8F8 0%, #FFFFFF 98.61%);
}

.brands-board__title {
    padding-left: 32px;
    font-weight: 300;
    text-transform: uppercase;
    color: #7E7E82;
}

.brands-board__wrapper {
    display: flex;
    justify-content: flex-start;
    align-content: space-between;
    flex-wrap: wrap;
    margin: 0;
    padding: 24px 16px 8px;
    background: #F8F8F8;
    height: 200px;
    box-sizing: border-box;
}

.brands-board__slider {
    width: 100%;
}

.brands-board__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 240px;
    height: 72px;
    border: 1px solid #EAEAEA;
    border-radius: 6px;
    padding: 0 16px;
    background: #FFFFFF;
    margin: 0 16px 16px 16px;
    box-sizing: border-box;
}

.brand-item__link-button {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: url("../img/ic/brand-item__link-button.svg");
}

.brands-board__show-all-button {
    display: flex;
    align-items: center;
    width: 150px;
    margin: 10px 0 10px 32px;

    cursor: pointer;
}

.brands-board__show-all-button > button {
    width: 150px;
    padding: 0;
    font-weight: 500;
    color: #1B1C21;
    border: none;
    background: none;
    text-align: start;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
}

.show-all-img {
    display: inline-block;
    content: '';
    width: 8px;
    height: 11px;
    margin-right: 18px;
    margin-left: 4px;
}

.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #DDDDDD;
}

.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 5px;
}

.swiper-pagination-bullet-active {
    background-color: #B5B6BC;
}

@media screen and (max-width: 768px) {

    .brands-board {
        padding-bottom: 24px;
    }

    .brands-board__wrapper {
        flex-wrap: nowrap;
        width: 100%;
        height: 140px;
    }

    .brands-board__show-all-button {
        display: none;
    }

    .brands-board__item {
        margin: 0 16px 16px 0;
    }

    .brands-board__title {
        padding-left: 16px;
    }
}

@media screen and (min-width: 769px) {
    .brands-board__wrapper {
        flex-wrap: wrap;
        width: 100%;
    }
}


/*@media screen and (min-width: 320px) {*/
/*    .brands-board {*/
/*        width: 320px;*/
/*    }*/
/*}*/

/*@media screen and (max-width: 321px) {*/

/*    .brands-board__title {*/
/*        padding-left: 16px;*/
/*    }*/

/*    .swiper-container {*/
/*        display: block;*/
/*        padding-top: 24px;*/
/*        padding-bottom: 32px;*/
/*        width: 320px;*/
/*    }*/

/*    .brands-board__wrapper {*/
/*        display: none;*/
/*    }*/

/*    .hide-layer {*/
/*        display: none;*/
/*    }*/

/*}*/



/*@media screen and (min-width: 1120px) {*/
/*    .brands-board {*/
/*        width: 1120px;*/
/*    }*/
/*}*/